.headerContainerAbout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 75px 0px;
  max-width: 1350px;
  margin: auto;
}

.bannerContainerInfo {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 16px;
  position: relative;
}

.bannerImgInfo {
  aspect-ratio: 1240 / 223;
  object-fit: cover;
  border-radius: 22px;
  margin-bottom: 20px;
  z-index: 1;
}

.bannerTextInfo {
  display: flex;
  aspect-ratio: 1240 / 223;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  background-color: rgb(0 0 0 / 0.3);
  color: white;
  font-weight: 500;
  font-size: 39px;
  z-index: 2;
  width: 100%;
  position: absolute;
}

.infoContainers {
  display: flex;
  flex-direction: column;
  padding: 0px 130px 0px;
  margin-bottom: 20px;
  min-height: 60vh;
  max-width: 1000px;
  margin: auto;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.barToggle {
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
  background-color: #ff6060;
  height: 30px;
  color: white;
  padding: 6px 20px 6px 20px;
  font-size: 18px;
  font-weight: 500;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.arrowToggle {
  height: 20px;
  color: white;
  user-select: none;
}

.textToggle {
  background-color: #f6f6f6;
  color: #ff6060;
  border-radius: 0px 0px 5px 5px;
  position: relative;
  font-size: 18px;
  padding: 30px 19px 19px 19px;
  bottom: 5px;
  z-index: 0;
}

.hideElement {
  display: none;
}

/* Css Toggle element */

.toggleMenu {
  rotate: 180deg;
}

.rotate {
  transform: rotate(180deg);
}

.textToggle {
  display: none;
}

.visible {
  display: block;
}

/* Css Toggle element */

@media screen and (max-width: 850px) {
  .bannerImgInfo {
    aspect-ratio: 335 / 255;
    border-radius: 10px;
  }

  .bannerTextInfo {
    aspect-ratio: 335 / 255;
    border-radius: 10px;
  }

  .infoContainers {
    padding: 0px 22px 0px;
  }

  .infoContainer {
    padding: 0px 22px 0px;
  }

  .headerContainerAbout {
    padding: 0px 22px 0px;
  }

  .textToggle {
    font-size: 18px;
  }

  .bannerContainerInfo {
    margin-top: 25px;
    margin-bottom: 0px;
  }
}
