.headerContainerLogement {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 75px 0px;
  margin: auto;
  max-width: 1150px;
}

/* Banner  */

.bannerContainerLogement {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 27px;
  position: relative;
}

/* Banner Nav */

.arrowBannerLeftContainer {
  position: absolute;
  left: 8px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  /* border: 2px solid black; */
}

.arrowBannerRightContainer {
  position: absolute;
  justify-content: center;
  right: 8px;
  top: 0px;
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  /* border: 2px solid black; */
}

.arrowBannerLeft {
  user-select: none;
  rotate: -90deg;
  height: 34px;
}

.arrowBannerRight {
  user-select: none;
  rotate: 90deg;
  height: 34px;
}

.numberBanner {
  user-select: none;
  position: absolute;
  box-sizing: border-box;
  padding: 18px;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  /* border: 2px solid black; */
}

.bannerImgLogement {
  aspect-ratio: 1240 / 415;
  object-fit: cover;
  border-radius: 22px;
  user-select: none;
}

.bannerText {
  display: flex;
  aspect-ratio: 1240 / 223;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  background-color: rgb(0 0 0 / 0.3);
  color: white;
  font-weight: 500;
  font-size: 39px;
  z-index: 2;
  width: 100%;
  position: absolute;
}

/*  */
.infoContainerLogement {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* info header  */
.logementContainer {
  padding: 0px 75px 0px;
  display: flex;
  flex-direction: column;
  border: 0px solid blue;
  margin-bottom: 20px;
  margin: auto;
  max-width: 1150px;
}

.logementInfoHeader {
  display: flex;
  justify-content: space-between;
  border: 0px solid red;
  margin-bottom: 40px;
}

.logementInfoHeaderLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.logementInfoHeaderRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.logementLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 0px solid blue;
}

.logementId {
  display: flex;
  gap: 20px;
  height: 90px;
  justify-content: flex-start;
  border: 0px solid red;
  height: 60px;
}

.logementTitleLocation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ff6060;
  min-height: 60px;
}

.logementTitle {
  font-size: 30px;
}

.logementLocation {
  font-size: 18px;
}

.logementId {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #ff6060;
  font-size: 16px;
}

.logementPrenomNom {
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 5px;
}

.logementPrenom {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}

.logementNom {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}

.userImg {
  height: 60px;
  border-radius: 50%;
}

.logementTags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.logementTag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6060;
  padding: 5px 30px;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  max-height: 15px;
}

.logementRatings {
  display: flex;
  gap: 10px;
  user-select: none;
}

.logementRating {
  height: 28px;
}

.logementBloc {
  display: flex;
  justify-content: space-between;
  border: 0px solid black;
}

.logementBlocDisplay {
  display: flex;
  flex-direction: column;
  border: 0px solid black;
  width: 47%;
}

.barToggle {
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
  background-color: #ff6060;
  height: 30px;
  color: white;
  padding: 6px 20px 6px 20px;
  font-size: 18px;
  font-weight: 500;
  z-index: 1;
}

.arrowToggle {
  height: 16px;
  color: white;
}

.textToggleLogement {
  display: none;
  background-color: #f6f6f6;
  color: #ff6060;
  border-radius: 0px 0px 5px 5px;
  position: relative;
  font-size: 18px;
  line-height: 150%;
  padding: 25px 19px 19px 19px;
  bottom: 5px;
  z-index: 0;
  list-style: none;
}

.textToggle2 {
  display: none;
  flex-direction: column;
  background-color: #f6f6f6;
  color: #ff6060;
  border-radius: 0px 0px 5px 5px;
  position: relative;
  font-size: 18px;
  line-height: 150%;
  padding: 25px 19px 19px 19px;
  bottom: 5px;
  z-index: 0;
}

/* Css Toggle element */

.toggleMenu {
}

.rotate {
  transform: rotate(180deg);
}

.textToggle {
  display: none;
}

.visible {
  display: flex;
}

/* Hide arrow and number */

.hide {
  display: none;
}

/* Css Toggle element */

@media screen and (max-width: 850px) {
  .logementBloc {
    flex-direction: column;
  }

  .logementBlocDisplay {
    width: 100%;
  }

  .logementInfoHeader {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .logementInfoHeaderRight {
    align-items: center;
    margin-top: 20px;
    flex-direction: row;
  }

  .logementId {
    order: 1;
  }

  .logementRating {
    height: 26px;
    user-select: none;
  }

  .bannerImgLogement {
    aspect-ratio: 335 / 255;
    border-radius: 10px;
  }

  .headerContainerLogement {
    padding: 0px 22px 0px;
  }

  .logementContainer {
    padding: 0px 22px 0px;
  }

  .textToggleLogement {
    font-size: 16px;
  }

  .textToggle2 {
    font-size: 16px;
  }

  .infoContainerLogement {
    padding: 0px;
  }

  .arrowBannerRight,
  .arrowBannerLeft {
    height: 27px;
  }
}
